

<h1>{{ object.name }}</h1>
Location: {{ object.location }}

<hr>
<h2>Current rankings</h2>
{% for ranking in ranking_list %}
    <li>{% if ranking.is_active %}#{{ ranking.rank }}{% else %} ---- {% endif %} {{ ranking.player }} ({{ ranking.int_rating }})</li>
{% endfor %}

<hr>

<h2>Current ratings</h2>

{% for rating in rating_list %}
    <li>{{ rating.0 }} ({{ rating.1 }})</li>
{% endfor %}

<hr>
<h2>Recent games</h2>
{% for game in recent_games %}
    <li>{{ game.white.user.username }} {{ game.black.user.username }} {{ game.get_result_display}}</li>
{% endfor %}

<p><a href="{% url 'ladder-games' object.id %}">All games from this ladder</a></p>
<hr>

<p><a href="{% url 'ladder-list' %}">Ladder list</a></p>
<p>Page refreshed at {{ timestamp }}</p>  
