{% extends "club/base.html" %}
{% load staticfiles %}

{% block title %}Player index{% endblock %}

{% block body_block %}
<div class="container">
	<h1>Players</h1>
	{% if request.user.is_authenticated and request.user.player.membership > 0 or request.user.is_staff %}
	<ul>
            {% for player in object_list %}
	    <li><a href="{% url 'player-detail' player.id %}">{{ player.user.username }}</a></li>
	    {% endfor %}
        </ul>
	{% else %}
	<p>There are currently {{ object_list|length }} confirmed club members participating. You will be able to view the list if you confirmed as a member.</p>

	<p>To join them, <a href="/register/">register with the site</a>, then inquire at <a href="{% url 'faq' %}">the club meeting</a> for an administrator who can confirm your membership.</p>
	{% endif %}
</div>

{% endblock %}
