{% extends "club/base.html" %}
{% load staticfiles %}

{% block title %}Player detail{% endblock %}

{% block body_block %}
<div class="container">
	<h1>{{ object.user.username }}</h1>
	{% if request.user.is_authenticated and request.user.player.membership > 0 %}
	<h2>Profile:</h2>
	{% if object.bio %}
	<p>{{ object.bio }}</p>
	{% else %}
	<p><i>(No information.)</i></p>
	{% endif %}

	{% elif request.user.is_authenticated and request.user.player.membership == 0 %}
	<hr>
	<p>(An administrator must confirm your membership status before you can see player details.)</p>

	{% else %}
	<hr>
	<p><i>(You must be <a href="{% url 'login' %}">logged in</a> to see more details about this player like current ladder rankings.)</i></p>
	{% endif %}

	<hr>

</div>
{% endblock %}
